a2wsgi==1.10.10
atheris==3.0.0
boto3==1.42.17
Brotli==1.1.0
brotlicffi==1.2.0.0
chardet==4.0.0
contextlib2==21.6.0
cryptography==46.0.3
curio==1.6
cython==3.2.3
email_validator==2.3.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
fastapi_cli==0.0.20
fqdn==1.5.1
gradio==6.2.0
graphviz==0.21
gunicorn==23.0.0
h2==4.3.0
httptools==0.7.1
httpx_aiohttp==0.1.12
hypothesis==6.148.8
importlib_resources==6.4.0
ipython==8.12.3
ipywidgets==7.8.1
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonpath_ng==1.7.0
jsonpointer==2.1
litellm==1.80.11
matplotlib==3.10.8
mypy_boto3_secretsmanager==1.42.8
orjson==3.11.5
outcome==1.3.0.post0
pandas==2.3.3
Pygments==2.15.1
pyodide==0.0.2
pyOpenSSL==24.2.1
pyOpenSSL==25.3.0
pyperf==2.9.0
pytest==7.4.4
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
setuptools_scm==9.2.2
simplejson==3.20.2
slack_sdk==3.39.0
socksio==1.0.0
sounddevice==0.5.3
tensorflow==2.20.0
tomli==2.3.0
typer==0.21.0
ujson==5.10.0
uri_template==1.3.0
watchfiles==1.1.1
webcolors==25.10.0
wsproto==1.3.2
zstandard==0.23.0
